src/main/resources/wsdl/sdp-included.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://www.csapi.org/schema/parlayx/data/sync/v1_0/local" xmlns:ns1="http://www.csapi.org/wsdl/parlayx/data/sync/v1_0/interface" name="DataSync" targetNamespace="http://www.csapi.org/wsdl/parlayx/data/sync/v1_0/interface">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.csapi.org/schema/parlayx/data/v1_0" targetNamespace="http://www.csapi.org/schema/parlayx/data/v1_0" version="1.0">
            <xs:complexType name="UserID">
                <xs:sequence>
                    <xs:element name="ID" type="xs:string"/>
                    <xs:element name="type" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NamedParameterList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:NamedParameter"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="NamedParameter">
                <xs:sequence>
                    <xs:element name="key" type="xs:string"/>
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.csapi.org/schema/parlayx/data/sync/v1_0/local" xmlns:ns1="http://www.csapi.org/schema/parlayx/data/v1_0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/data/sync/v1_0/local">
            <xs:import namespace="http://www.csapi.org/schema/parlayx/data/v1_0"/>
            <xs:element name="syncOrderRelation" type="tns:syncOrderRelation"/>
            <xs:element name="syncOrderRelationResponse" type="tns:syncOrderRelationResponse"/>
            <xs:complexType name="syncOrderRelation">
                <xs:sequence>
                    <xs:element name="userID" type="ns1:UserID"/>
                    <xs:element name="spID" type="xs:string"/>
                    <xs:element name="productID" type="xs:string"/>
                    <xs:element name="serviceID" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceList" type="xs:string"/>
                    <xs:element name="updateType" type="xs:int"/>
                    <xs:element name="updateTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="updateDesc" type="xs:string"/>
                    <xs:element minOccurs="0" name="effectiveTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="expiryTime" type="xs:string"/>
                    <xs:element minOccurs="0" name="extensionInfo" type="ns1:NamedParameterList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="syncOrderRelationResponse">
                <xs:sequence>
                    <xs:element name="result" type="xs:int"/>
                    <xs:element name="resultDescription" type="xs:string"/>
                    <xs:element minOccurs="0" name="extensionInfo" type="ns1:NamedParameterList"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="syncOrderRelation">
        <wsdl:part element="ns2:syncOrderRelation" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="syncOrderRelationResponse">
        <wsdl:part element="ns2:syncOrderRelationResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DataSync">
        <wsdl:operation name="syncOrderRelation">
            <wsdl:input message="ns1:syncOrderRelation" name="syncOrderRelation"> </wsdl:input>
            <wsdl:output message="ns1:syncOrderRelationResponse" name="syncOrderRelationResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>